/* Aula inicial :D */
* {
  margin: 0;
  padding: 0;
}

body {
    background-image: url('https://images4.alphacoders.com/403/thumb-1920-4036.png');
    background-size: auto 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    height: 100vh;
  }

  /* Se a tela tiver pelo menos 400px vai carregar esses estilos */
  @media (min-width: 400px) {
    body {
      background-color: #00b8c0;
      background-image: none;
      font-size: 14px;
    }
  }

  /* Breakpoint */
  @media (min-width: 600px) {
    body {
      background-image: none;
      font-size: 18px;
    }
  }

  @media (min-width: 1200px) {
    body {
      font-size: 24px;
      background-color: #0a3d62;
    }
  }

  header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* Barra de Menu */
  .menu {
    background-color: white;
    position: fixed;
    width: 100vw;
    top: 0;
  }
  .menu li {
    list-style: none;
  } 
  .menu ul {
    display: flex;
    justify-content: space-around;
  }

  .menu a {
    display: block;
    padding: 10px;
  }

  a {
    color: teal;
    text-decoration: none;
  }
  .menu a:hover {
    background: rgb(4, 84, 92);
    color: #FFF;
    transition: 0.3s;
  }
  /* Título e Subtítulo */
  .site-title {
    color: whitesmoke;
    text-align: center;
  }

  .site-title {
    font-size: 4em;
    font-family: 'Ubuntu', sans-serif;
  }
  
  .site-subtitle {
    color: whitesmoke;
    text-align: center;
  }

  .site-descricao {
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    line-height: 4em;
  }
/* Menu de Projeto */
  .contato, .portfolio {
    min-height: 100vh;
    padding: 2em;
  }

  .portfolio .grid {
    display: grid;
    gap: 4em;
  }

  .portfolio figure {
    text-align: center;
    line-height: 2em;
  }

  .portfolio h2 {
    color: cornsilk;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
    margin-bottom: 2em;
  }
/* Regra de Resposividade para dimensionar imagens em tela menor*/
  @media (min-width: 560px) {
    .portfolio .grid {
      grid-template-columns: 240px 240px;
    }
  }

  @media (min-width: 880px) {
    .portfolio .grid {
      grid-template-columns: repeat(2, 240px);
      align-content: center;
      justify-content: center;

    }
  }

  .img-portfolio {
    width: 300px;
    height: 200px;
    border-radius: 3%;
  }

  .contato {
    background-color: #0c2461;
  }

  .contato a {
    color: whitesmoke;
    font-size: 4em;
    
  }

  .contato a:hover {
    text-decoration: none;
  }

  /* Estilização do banner */
  .banner-menu {
    background-color: cornsilk;
    padding: 2em;
  }

  .banner-texto {
    text-align: center;
    line-height: 2em;
  }

  .rodape {
    background-color: white;
    font-size: 14px;
    padding: 2em;
    text-align: center;
  }